@model IEnumerable<CityIndexVM>
    <a class="btn btn-primary" asp-action="Create">Create New City</a>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.PhoneCode)</th>
                <th>@Html.DisplayNameFor(model => model.PlateCode)</th>
                <th>@Html.DisplayNameFor(model => model.CountryName)</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var cities in Model)
            {
                <tr class="gradeX">
                    <td>@Html.DisplayFor(modelItem => cities.Name)</td>
                    <td>@Html.DisplayFor(modelItem => cities.PhoneCode)</td>
                    <td>@Html.DisplayFor(modelItem => cities.PlateCode)</td>
                    <td>@Html.DisplayFor(modelItem => cities.CountryName)</td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@cities.Id">Delete</a>
                        <a class="btn btn-info" asp-action="Update" asp-route-id="@cities.Id">Update</a>
                    </td>
                </tr>
            }


    </table>

